@import "bootstrap";
@import "primer";

body {
  background-color: #fafafa;
  font-family: 'Josefin Sans', sans-serif;
}

.alert {
    text-align: center;
    margin-bottom: 0;
}

.flash {
  text-align: center;
  margin-bottom: 0;
}

abbr[title] {
    text-decoration: none;
}

abbr[title="required"] {
  display: none;
}

.control-label.email.required {
  display: none;
}

.control-label.password.required {
  display: none;
}

.control-label.email.optional {
  display: none;
}

.control-label.password.optional {
  display: none;
}

p.help-block {
  display: none;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.top-nav .add {
  margin-top: 10px;
}

.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.message-border {
  border: none;
}

.card.form {
  padding: 20px;
}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}

.gram-actions a {
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
}

.comments {
  padding: 20px;
}

.comment {
  font-size: 16px;
}

.comment_handle {
  color: #262626;
  font-weight: bold;
  font-size: 16px;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}
